/*                                                                           
    |                    |   |               |               ,---.          
    |,---.,---.,---.,---.|---|,---.,---.,---.|    ,---.,---. |   |,---.,---.
    |,---|`---.|   ||   ||   ||---'|   ||   ||    |---'|     |   ||    |   |
`---'`---^`---'`---'`   '`   '`---'|---'|---'`---'`---'`    .`---'`    `---|
                                   |    |                              `---'

*/


/* elements */

html {
	background: white;
	color: #555;
}

body {
	font-family: 'Buenard',Garamond, Georgia, serif;
	font-size: 100%;
/*	line-height: 1.7em;*/
	margin: 0 auto;
}

::selection {
	background-color: #A6DDFB;
	color: black;
	text-shadow: none;
}

a:link {
    text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a img { border-width: 0; }

blockquote {
	margin: 20px 0;
	/*border-left: 5px solid #fb4545;*/
	padding-left: 15px;
    font-style: italic;
}

pre, code {
    font: 13px Consolas,'Andale Mono', Monaco, Courier, 'Courier New', monospace;
}

pre {
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 0.4em;
	overflow-x: scroll;
}

code {
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 0.2em;
}

pre code {
	border: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-style: normal;
  margin: .5em 0;
  color: #222;
}

/*h1 {
  font-size: 3em;
  padding: .25em 0 .25em 0;
  margin-left: -5px;
}*/

h2 {
  font-size: 160%;
  margin: 0 0 .25em 0;
}

h3 {
	font-size: 1.3em;
	margin: 1.5em 0 .5em 0;
}

h4 {
	font-size: 110%;
	margin: 1.5em 0 .25em 0;
}

/*li { margin-bottom: 4px; }*/

p { margin: 0 0 1em 0; }

sup {
	font-size: 0.8em;
	line-height: 1;
	position: relative;
	bottom: 0.5em;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

/* html5 */

time {
	color: #a19d91;
	text-align: left;
}

article {
	width: 590px;
	margin: 2.25em auto 2em;
}

article, aside, figure, footer, header, nav, section {
	display: block;
}

article p {
	font-size: 16px;
	line-height: 26px;
}

article p.meta {
	text-align: left;
	font-size: 14px;
}

footer {
	padding: 2em 0 1em 0;
	color: #666;
	clear: both;
	font-size: 70%;
	margin: 0 auto;
	width: 590px;
	text-align: center;
}

footer a {
	font-weight: bold;
	color: #333;
	border: none;
}

/* ids */

#wrap {
	background: white;
	width: 590px;
	max-width: 590px;
	padding: 40px 0;
	margin: 0 auto;
}

#tophead {
	margin: auto auto 0 auto;
	width: 85%;
	padding: 2px 15px 2px 15px;
	clear: both;
}

#tophead ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 30px;
	text-align: center;
}

#tophead li:first-child {
	border-right: 2px solid #A60201 /*#4797DC*/;
	font-weight: bold;
}

#tophead li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-align: center;
}

#tophead a {
	color: #333;
}

#tophead a:hover {
	color: #7f7f7f;
	border: none;
}

#main-content a {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #aaa;
}

#main-content a:hover {
	color: #333;
	border-bottom: 1px solid #A60201 /*#4797DC*/;
}

#entry-post {
  padding-bottom: 4em;
  margin-bottom: 4em;
  border-bottom: 1px solid #eee;
}

#entry-post a {
 	color: #333;
	border-bottom: 1px solid #aaa;
}

#entry-post a:hover {
	border-bottom: 1px solid #A60201 /*#4797DC*/;
}

#entry-post h2 {
	font-size: 1.5em;
	text-align: left;
	border: none;
}

#entry-post h2 a {
	text-decoration: none;
	color: #444;
	border:none;
}

#entry-post h2 a:hover {
	border: none;
    color: #7f7f7f;
}

#entry-link {
  padding-bottom: 4em;
  margin-bottom: 4em;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#entry-link h2 {
  font-size: 1.2em;
  text-align: left;
}

#entry-link a {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #aaa;
}

#entry-link a:hover {
	color: #333;
	border-bottom: 1px solid #A60201 /*#4797DC*/;
}

#entry-link h2 a {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #aaa;
}

#entry-link h2 a:hover {
	color: #333;
	border-bottom: 1px solid #A60201 /*#4797DC*/;
}

#entry-link .link-post {
	color: #aaa;
	text-decoration: none;
	border-bottom: none;
}

#entry-link .link-post:hover {
	color: #A60201 /*#4797DC*/;
	border-bottom: none;
}

#archive {
    margin-left: -40px;
}

#archive ul {
    list-style: none;
}

#archive ul li {
    list-style: none !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

#home-posts {
  width: 672px; 
}

.home-posts-left {
  float: left;
  width: 334px
}

.home-posts-right {
  float: right;
  width: 334px;
}

/* classes */

p.tweet-me {
	color: #a19c91;
	font-size: 0.8em;
}

.categories ul {
   list-style: none; 
   margin: 0 auto;
}

li.category {
    list-style: none;
    display: inline;
    background: #f2efe4;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: none;
}

li.category a {
    border-bottom: none;
}

.signoff {
  font-size: 9pt;
  font-style: italic;
  text-align: right;
}

.footnotes {
	display: block;
	font-size: 0.8em;
	color: #4A4A4A;
	line-height: 1.4em;
	padding-top: 5px;
	margin-left: 0px;
	padding-left: 20px;
}

.footnotes a {
	text-decoration: none;
}

@media (max-width: 520px) {

	body {
		font-size: 15px;
	}

	#wrap {
		width: 100%;
	}

	article p {
		font-size: 1em;
		line-height: 1.5em;
	}

	#entry-post h2 {
		font-size: 1.7em;
	}

/*	#tophead {
		width: 100%;
	}

	#tophead li:first-child {
		border-right: none;
		content:"\A"; 
		white-space: pre;
	}

	#tophead ul {
		font-size: 14px;
		*/text-align: center;
	}

}
