/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body {
  height: 100%;
}
/*
body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
} */

body {
  margin: 0;
  font-family: 'Helvetica neue', Helvetica, Arial, serif;
  font-size: 100%;
  line-height: 140%;
  color: #333;
  border-top: 3px solid #004491;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-style: normal;
  font-weight: 700;
  margin: 0.5em 0px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  display: block;
  margin: 0 0 0.33em 0;
  font-size: 1.5em;
  font-weight: bold;
  /*
  margin-bottom: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 0 1.25em;
  text-align: left;
  */
}

p {
  margin: 1em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

ul {
  margin-bottom: 24px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: 'Inconsolata', Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header {
  display: block;
  padding-bottom: 3em;
  padding-top: 0.3em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

header #nav {
  margin: 0;
  width: 80%;
  padding: 0;
}

header #nav ul, #nav li {
  display: inline;
  margin: 5px;
  padding: 0;
  list-style: none;
}

#container {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.menubar {
  font-family: Helvetica, arial, sans-serif;
  background: whiteSmoke;
  border-bottom: 1px solid #e5e5e5;
  height: 35px;
  width: 100%;
}

.menubar .subhead_desc {
  font-size: 10px;
  font-style: italic;
}

.menubar a {
  color: #aaa;
  text-decoration: none;
  font-size: 160%;
  font-weight: 700;
}

.menubar span {
  color: #004491;
}

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

      a {
        color: #aaa;
        text-decoration: none;
      }

      a:hover {
        color: #004491;
      }

      ul.posts {
        list-style-type: none;
      }

      ul.posts li {
        line-height: 1.75em;
      }

      ul.posts span {
        color: #aaaaaa;
        font-family: Monaco, "Courier New", monospace;
        font-size: 80%;
      }

      .side {
        margin-right: 0;
        float: right;
        width: 30%;
      }
      
      .side h2 {
        margin: 10px;
        font-family: Helvetica, sans-serif;
        font-weight: normal;
        font-size: 25px;
      }
      
    
#navigation {
  background: #a5a5a5;
  display: block;
  margin-bottom: 45px;
  padding-bottom: 30px;
  padding-top: 66px;
}

#navigation .inside {
  margin-bottom: 24px;
  padding-bottom: 30px;
  padding-right: 0px;
}

.inside {
  float: left;
  margin: 0 auto;
  max-width: 600px;
  min-width: 600px;
  width: 600px;
}

#navigation ul {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 26px;
  display: inline;
}

#navigation ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#sidebar {
  color: #666;
  float: right;
  font-size: 70%;
  line-height: 140%;
  margin: 2em 0px 0px;
  padding: 0px;
  width: 120px;
}

#sidebar .nav {
  font-size: 120%;
  font-style: normal;
  font-weight: 500;
  margin: 0px 0px 2.5em;
  text-transform: uppercase;
}

#sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#sidebar li {
  margin: 0px 0px 0.5em;
}

#primary {
  margin: 0px auto;
  width: 770px;
}

#primary .secondary {
  float: right;
  font-size: 14px;
  margin-left: 5%;
  padding-left: 20px;
  padding-top: 1em;
  width: 190px;
  text-align: left;
}

#primary .secondary ul {
  list-style: none;
  margin: 0px 0px 5em -3em;
}

#primary .secondary li {
  letter-spacing: 2px;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-transform: uppercase;
}

#primary .secondary ul li {
  list-style: none;
}

#primary .primary {
  width: 100%;
}

article {
  padding-bottom: 48px;
}

article {
  display: block;
}

blockquote {
  border-left: 1px solid #777;
  border-right: 0px solid #777;
  font-size: 1em;
  margin: 0px 3em 0px 0px;
  padding: 0px 0.75em 0px 1em;

}

.content h2 a {
  color: #004491;
  text-decoration: none;
}

.content h2 a:hover {
  color: black;
}

article a {
  color: #303030;
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: silver;
}

article a:hover {
  color: #999;
}

      .wrap {
        background: white;
        margin: 0;
        padding: 0;
      }

 /*     .content {
        margin: 0 auto;
        overflow: hidden;
      } */

      span.mid_head {
        color: #004491;
      }

h2.archive_header {
  font-family: 'Gill Sans', 'Gill Sans Std', 'Gill Sans MT', Georgia, serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0 1.25em;
  text-align: left;
}

li.archive_list {
  list-style: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  border-bottom: 1px sold #333;
}

  /* standard */

  .post pre, .post code {
    font: 13px Consolas,'Andale Mono',Monaco,Courier,'Courier New',Verdana,sans-serif;
  }

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  /* terminal */

  .post pre.console {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.console code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
  
/* 
 FOOTER
*/

.footer {
  clear: both;
  font-size: 11px;
  margin: 10px 0 0;
  overflow: hidden;
  padding: 0 10px;
}
