/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body {
  height: 100%;
}

body {
  color: #333;
  font-family: franklin-gothic-urw,helvetica,arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.45em;
}

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-style: normal;
  /*text-transform: uppercase; */
  line-height: .8em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 430%;
  padding: .25em 0 .25em 0;
  margin-left: -5px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0px;
  font-weight: normal;
}

h3 {
  padding: 0 0 1.5em 0;
  margin: 0 0 1.25em 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  border-bottom: solid #ccc 1px;
}

p {
  margin: 0;
  padding: 0 0 1em 0;
}

a {
    color: #369;
    text-decoration: none;
}

a:hover {
    color: #390;
    text-decoration: none;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
}

/*
body {
  font-family: 'Helvetica neue', Helvetica, sans-serif;
  font-size: 12pt;
  color: #222;
  padding: 10px;
  line-height: 26px;
}
*/

/*
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-style: normal;
}

h1 {
  font-weight: normal;
  font-size: 195%;
  padding: 0;
  margin: 30px 0 0 0;
  letter-spacing: 0.7px;
  line-height: 18px;

}

h2 {
    font-size: 1.5em;
    padding: 0;
    font-weight: normal;
}
*/

/*
p {
  margin: 1em 0;
}
*/


table {
  font-size: inherit;
  font: 100%;
}

ul {
  margin-bottom: 24px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: 'Inconsolata', Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header_container {
  margin: 0 auto;
} 

.header_container {
  display: block;
  text-transform: uppercase;
}

.header_container h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #555;
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
}

.header_container a {
  text-decoration: none;
  color: #222;
}

.header_container span {
  color: #369;
}

#siteDesc {
  font-size: 1em;
  font-family: "Signika", "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
  margin: 20px auto 25px;
  width: 435px;
  padding: 11px 0 13px;
  color: #555;
  font-style: italic;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  text-transform: none;
  text-align: center;
}

#siteDesc a {
	color: #369;
}

#siteDesc a:hover {
	color: #390;
}


#mainNav {
  margin-top: 10px;
  padding: 5px;
  background: #fbfbfb;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

#mainNav ul {
  margin: 0 auto;
  width: 25em;
  text-align: center;
  list-style: none;
}

#mainNav li {
  display: inline;
  margin-right: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}

#mainNav a:link, #mainNav a:visited {
  color: #999;
  white-space: nowrap;
}

#mainNav a:hover, #mainNav a:active {
  text-decoration: underline;
  color: #222;
}

#siteDesc {
  font-size: 0.9em;
  margin: 20px auto 25px;
  width: 400px;
  padding: 11px 0 13px;
  color: #555;
  font-style: italic;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

#postmeta {
  text-align: left;
}

#reader {
  text-align: left;
}

ul#recentPosts {
  margin-left: -40px;
}

ul#recentPosts li {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #efefef;
  display: block;
}

#recentPosts .postDate {
  float: right;
}

#archives li a {
  margin-right: 5px;
}

#archives {
  width: 600px;
}

#archives #cattags {
  float: left;
  width: 280px;
  margin-left: 30px;
}

#archives ul {
  list-style: none;
  margin-left: -40px;
}

#archives ul li {
  list-style: none;
}

#archives #date {
  float: left;
  width: 280px;
}

#tag-cloud ol {
  margin-left: -40px;
}

#tag-cloud ol li {
  display: inline;
  list-style: none;
}

#tag-cloud .not-popular {
  font-size: 0.7em;
}

#tag-cloud .popular {
  font-size: 1.0em;
}

#tag-cloud .very-popular {
  font-size: 1.3em;
}

#tag-cloud .ultra-popular {
  font-size: 1.7em;
}

header {
  display: block;
  padding-bottom: 3em;
  padding-top: 0.3em;
  margin-bottom: 3em;
  text-transform: uppercase;
}

header #nav {
  margin: 0;
  width: 80%;
  padding: 0;
}

header #nav ul, #nav li {
  display: inline;
  margin: 5px;
  padding: 0;
  list-style: none;
}

#header h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
}

#header a {
  text-decoration: none;
  color: #222;
}

#header span {
  color: #369 /*#B5190E*/;
}

a.old-posts {
    font-size: 22px;
    color: #ccc;
    margin-left: 15px;
    border: none;
    text-decoration: none;
}

a:hover.old-posts {
  color: #444;
}

#container {
    width: 960px;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
}

time {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}

.menubar {
  font-family: Helvetica, arial, sans-serif;
  background: whiteSmoke;
  border-bottom: 1px solid #e5e5e5;
  height: 35px;
  width: 100%;
}

.menubar .subhead_desc {
  font-size: 10px;
  font-style: italic;
}

.menubar a {
  color: #aaa;
  text-decoration: none;
  font-size: 160%;
  font-weight: 700;
}

.menubar span {
  color: #004491;
}

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

      ul.posts {
        list-style-type: none;
      }

      ul.posts li {
        line-height: 1.75em;
      }

      ul.posts span {
        color: #aaaaaa;
        font-family: Monaco, "Courier New", monospace;
        font-size: 80%;
      }

      .side {
        margin-right: 0;
        float: right;
        width: 30%;
      }

      .side h2 {
        margin: 10px;
        font-family: Helvetica, sans-serif;
        font-weight: normal;
        font-size: 25px;
      }


#navigation {
  background: #a5a5a5;
  display: block;
  margin-bottom: 45px;
  padding-bottom: 30px;
  padding-top: 66px;
}

#navigation .inside {
  margin-bottom: 24px;
  padding-bottom: 30px;
  padding-right: 0px;
}

.inside {
  float: left;
  margin: 0 auto;
  max-width: 600px;
  min-width: 600px;
  width: 600px;
}

#navigation ul {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 26px;
  display: inline;
}

#navigation ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#sidebar {
  float: right;
  line-height: 140%;
  margin: 2em 0px 0px;
  padding: 0px;
  width: 170px;
  text-transform: uppercase;
  font-family: "Signika", "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
}

#sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#sidebar li {
  margin: 0px 0px 0.5em;
}

#primary {
  margin: 0px auto;
  width: 770px;
}

#primary .secondary {
  float: right;
  font-size: 14px;
  margin-left: 5%;
  padding-left: 20px;
  padding-top: 1em;
  width: 190px;
  text-align: left;
}

#primary .secondary ul {
  list-style: none;
  margin: 0px 0px 5em -3em;
}

#primary .secondary li {
  letter-spacing: 2px;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-transform: uppercase;
}

#primary .secondary ul li {
  list-style: none;
}

#primary .primary {
  width: 100%;
}

article {
  padding-bottom: 48px;
}

article {
  display: block;
}

blockquote {
    font-style: italic;
  font-size: 1em;
  margin: 0px 3em 0px 0px;
  padding: 0px 0.75em 0px 1em;

}

#content {
    width: 680px;
    margin: 0 auto;
    /*overflow: hidden;
    margin: auto;*/
}

#postdivision {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
section#sidebar {
    float: right;
    width: 250px;
}

section#sidebar p {
    font-size: 14px;
}

section#sidebar h1 a {
   color: #444;
   text-decoration: none;
}

section#sidebar h1 a:hover {
    color: #ccc;
}

section#sidebar ul {
    list-style: none outside;
    font-size: 14px;
    color: #333;
    padding: 0;
    margin: 0;
}

section#sidebar ul li {
    padding: 0;
    line-height: 24px;
}

section#sidebar ul li a {
    text-decoration: none;
    color: #444;
}

section#sidebar ul li a:hover {
    color: #ccc;
}
*/
p.tagline {
    padding: 0;
    margin: 6px 0 60px 0;
    color: #B5190E;
    letter-spacing: 3px;
  /*  font-family: Helvetica, sans-serif;*/
}

.entry {
    float: left;
    width: 620px;
    margin-top: 8px;
    text-align: left;
}

.entry p {
    font: 300 1.2em/1.6em "Signika", "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif
}

.entry h2 {
    font-family: "Signika", "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif
    margin-top: 2em;
   /* text-transform: uppercase; */
}

.entry h2 a {
    text-decoration: none;
    color: #222;
    border: none;
}


.entry h2 a:hover {
  color: #222;
  border: none;
}

.entry h2.post {
    color: #444;
}

.entry h2.short {

}

.entry h3 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  border: none;
}

      .wrap {
        background: white;
        margin: 0;
        padding: 0;
      }

      span.mid_head {
        color: #004491;
      }

h2.archive_header {
  font-family: 'Gill Sans', 'Gill Sans Std', 'Gill Sans MT', Georgia, serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0 1.25em;
  text-align: left;
}

li.archive_list {
  list-style: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  border-bottom: 1px sold #333;
}

  /* standard */

  pre, code {
    font: 13px Consolas,'Andale Mono',Monaco,Courier,'Courier New',Verdana,sans-serif;
  }

  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }

    pre code {
      border: none;
    }

  /* terminal */

  pre.console {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  pre.console code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

/*
 FOOTER
*/

.footer {
  clear: both;
  margin: 10px 0 0;
  overflow: hidden;
  padding: 0;
}

.footer .footernav {
  font-size: 12pt;
}

.footer p {
    line-height: 0.3em;
}

#footerinfo {
  width: 600px;
  margin: 40px auto 0;
  padding: 20px 0 35px 0;
  border-top: 4px double #ccc;
  color: #666;
  text-align: center;
  font-size: 9pt;
}
