---
layout: default
title: Archives
---
<h2>Archives</h2>

<div id="archives">
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}

    <li><span>{{ post.date | date: '%d %b' }}</span> &raquo; <a href="{{base.site_url}}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
</div>

<div id="cattags">
<h3>Archive by Topic</h3>
<div id="tag-cloud">
  <ol>
  {% for tag in site.tags %}
  {% assign taglist = tag[1] %}
  {% case taglist.size %}
      {% when 1 %}
      {% assign class="not-popular" %}
      {% when 2 %}
      {% assign class="popular" %}
      {% when 3..9 %}
      {% assign class="very-popular" %}
      {% else %}
      {% assign class="ultra-popular" %}
  {% endcase %}
      <li class="{{ class }}"><a href="tags/{{ tag[0] | cgi_escape }}/" title="View entries tagged '{{ tag[0] }}'">{{ tag[0] }}</a></li>
  {% endfor %}
  </ol>
  </div>
</div>

</div>

</div>
