<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jason Heppler" />
   <link href="http://feeds.feedburner.com/JasonHeppler" rel="alternate" title="Jason Heppler" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Jason Heppler</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jason Heppler<br />
        Project Manager, William F. Cody Digital Archive<br />
        jheppler.unl@gmail.com 
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/heppler/">github.com/heppler</a><br />
        <a href="http://twitter.com/jaheppler/">twitter.com/jaheppler</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/JasonHeppler">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

</body>
</html>
