---
layout: default
---

{% if page.external-url %}

<div id="entry-link" class="post">
  <h2><a href="{{ page.external-url }}">{{ page.title }}</a> →</h2>
  <div id="post_content">
    {{ content }}
  </div>
  
  <p><time>{{ page.date | date: "%e" | ordinalize }} {{page.date | date: "%B"}} {{page.date | date: "%Y"}} • <a href="http://jasonheppler.org{{ post.url }}">∞</a></time></p>
  

{% else %}
<div id="post-{{ id }}" class="post">
  <h2>{{ page.title }}</h2>
  <div id="post_content">
    {{ content }}
  </div>
  
  <p><time>{{ page.date | date: "%e" | ordinalize }} {{page.date | date: "%B"}} {{page.date | date: "%Y"}} • <a href="http://jasonheppler.org{{ post.url }}">∞</a></time></p>

{% endif %}
	
	<h4 class="more">
		<a href="http://www.jasonheppler.org/archives.html">MORE ARTICLES IN THE ARCHIVE →</a>
	</h4>
</div>